## Generating Frequent itemset

In [1]:
#importing general packages
import numpy as np
import pandas as pd

In [2]:
#
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
additional_data=[['Coffee','Oil','Eggs','Potatoes','Corn'],
                ['Onion','Nutmeg','Coffee','Milk'],
                ['Banana','Oil', 'Coffee','Eggs','Corn'],
                ['Dill','Apple','Onion','Nutmeg','Butter'],
                ['Kidney Beans','Butter','Eggs','Nutmeg','Ice cream','Onion']]

In [6]:
New_dataset= dataset+additional_data

In [7]:
%pip install mlxtend --upgrade
# restart kernel after this

Requirement already satisfied: mlxtend in ./opt/anaconda3/lib/python3.9/site-packages (0.21.0)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: joblib>=0.13.2 in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pandas>=0.24.2 in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: scipy>=1.2.1 in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.16.2 in ./opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: packaging>=20.0 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [9]:
te = TransactionEncoder()
# The fit method is to learn what is the item to transaction
# the transform method is to Transform transactions into a one-hot encoded NumPy array.
te_ary = te.fit(New_dataset).transform(New_dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Banana,Butter,Coffee,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Oil,Onion,Potatoes,Unicorn,Yogurt
0,False,False,False,False,False,False,True,False,True,True,True,False,True,False,False,True
1,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,True
2,True,False,False,False,False,False,True,False,True,True,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,True,True,False,False,False,False,True,True
4,False,False,False,False,True,False,True,True,True,False,False,False,True,False,False,False
5,False,False,False,True,True,False,True,False,False,False,False,True,False,True,False,False
6,False,False,False,True,False,False,False,False,False,True,True,False,True,False,False,False
7,False,True,False,True,True,False,True,False,False,False,False,True,False,False,False,False
8,True,False,True,False,False,True,False,False,False,False,True,False,True,False,False,False
9,False,False,True,False,False,False,True,True,True,False,True,False,True,False,False,False

In [10]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5 , use_colnames=True)

   support              itemsets
0      0.7                (Eggs)
1      0.6        (Kidney Beans)
2      0.5              (Nutmeg)
3      0.6               (Onion)
4      0.5  (Eggs, Kidney Beans)
5      0.5       (Nutmeg, Onion)

## Selecting and Filtering Result

From this, it is depicted that Eggs has highest occurance with 70%,  
and Nutmeg has 50% occurance while Onion and kidney Beans each has 60%. 
we can see Eggs with KidneyBeans has 50% buying rate 
also nutmeg with onion also has 50% buying rate

In [11]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                             itemsets  length
0       0.3                             (Coffee)       1
1       0.4                               (Corn)       1
2       0.7                               (Eggs)       1
3       0.6                       (Kidney Beans)       1
4       0.4                               (Milk)       1
5       0.5                             (Nutmeg)       1
6       0.6                              (Onion)       1
7       0.3                             (Yogurt)       1
8       0.3                         (Eggs, Corn)       2
9       0.5                 (Eggs, Kidney Beans)       2
10      0.3                       (Nutmeg, Eggs)       2
11      0.4                        (Eggs, Onion)       2
12      0.3                 (Milk, Kidney Beans)       2
13      0.3               (Nutmeg, Kidney Beans)       2
14      0.4                (Onion, Kidney Beans)       2
15      0.3               (Yogurt, Kidney Beans)       2
16      0.5                      (Nutmeg, Onion)       2
17      0.3         (Nutmeg, Eggs, Kidney Beans)       3
18      0.4          (Eggs, Onion, Kidney Beans)       3
19      0.3                (Nutmeg, Eggs, Onion)       3
20      0.3        (Nutmeg, Onion, Kidney Beans)       3
21      0.3  (Nutmeg, Eggs, Onion, Kidney Beans)       4

In [12]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.3) ]

    support                itemsets  length
8       0.3            (Eggs, Corn)       2
9       0.5    (Eggs, Kidney Beans)       2
10      0.3          (Nutmeg, Eggs)       2
11      0.4           (Eggs, Onion)       2
12      0.3    (Milk, Kidney Beans)       2
13      0.3  (Nutmeg, Kidney Beans)       2
14      0.4   (Onion, Kidney Beans)       2
15      0.3  (Yogurt, Kidney Beans)       2
16      0.5         (Nutmeg, Onion)       2

In [13]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

    support       itemsets  length
11      0.4  (Eggs, Onion)       2

## Association Rule Generation from Selected Item

In [14]:
from mlxtend.frequent_patterns import association_rules

associationRulesSet =association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Corn),(Eggs),0.4,0.7,0.3,0.750000,1.071429,0.02,1.20
1,(Eggs),(Kidney Beans),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Kidney Beans),(Eggs),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
3,(Nutmeg),(Eggs),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.75
4,(Onion),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.90
5,(Milk),(Kidney Beans),0.4,0.6,0.3,0.750000,1.250000,0.06,1.60
6,(Nutmeg),(Kidney Beans),0.5,0.6,0.3,0.600000,1.000000,0.00,1.00
7,(Onion),(Kidney Beans),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
8,(Kidney Beans),(Onion),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
9,(Yogurt),(Kidney Beans),0.3,0.6,0.3,1.000000,1.666667,0.12,inf
10,(Nutmeg),(Onion),0.5,0.6,0.5,1.000000,1.666667,0.20,inf
11,(Onion),(Nutmeg),0.6,0.5,0.5,0.833333,1.666667,0.20,3.00
12,"(Nutmeg, Eggs)",(Kidney Beans),0.3,0.6,0.3,1.000000,1.666667,0.12,inf
13,"(Nutmeg, Kidney Beans)",(Eggs),0.3,0.7,0.3,1.000000,1.428571,0.09,inf
14,"(Eggs, Kidney Beans)",(Nutmeg),0.5,0.5,0.3,0.600000,1.200000,0.05,1.25
15,(Nutmeg),"(Eggs, Kidney Beans)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25
16,"(Onion, Eggs)",(Kidney Beans),0.4,0.6,0.4,1.000000,1.666667,0.16,inf
17,"(Eggs, Kidney Beans)",(Onion),0.5,0.6,0.4,0.800000,1.333333,0.10,2.00
18,"(Onion, Kidney Beans)",(Eggs),0.4,0.7,0.4,1.000000,1.428571,0.12,inf
19,(Onion),"(Eggs, Kidney Beans)",0.6,0.5,0.4,0.666667,1.333333,0.10,1.50
20,(Kidney Beans),"(Onion, Eggs)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.80
21,"(Nutmeg, Eggs)",(Onion),0.3,0.6,0.3,1.000000,1.666667,0.12,inf
22,"(Nutmeg, Onion)",(Eggs),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.75
23,"(Onion, Eggs)",(Nutmeg),0.4,0.5,0.3,0.750000,1.500000,0.10,2.00
24,(Nutmeg),"(Onion, Eggs)",0.5,0.4,0.3,0.600000,1.500000,0.10,1.50
25,"(Nutmeg, Onion)",(Kidney Beans),0.5,0.6,0.3,0.600000,1.000000,0.00,1.00
26,"(Nutmeg, Kidney Beans)",(Onion),0.3,0.6,0.3,1.000000,1.666667,0.12,inf
27,"(Onion, Kidney Beans)",(Nutmeg),0.4,0.5,0.3,0.750000,1.500000,0.10,2.00
28,(Nutmeg),"(Onion, Kidney Beans)",0.5,0.4,0.3,0.600000,1.500000,0.10,1.50
29,"(Nutmeg, Onion, Eggs)",(Kidney Beans),0.3,0.6,0.3,1.000000,1.666667,0.12,inf
30,"(Nutmeg, Eggs, Kidney Beans)",(Onion),0.3,0.6,0.3,1.000000,1.666667,0.12,inf
31,"(Nutmeg, Onion, Kidney Beans)",(Eggs),0.3,0.7,0.3,1.000000,1.428571,0.09,inf
32,"(Onion, Eggs, Kidney Beans)",(Nutmeg),0.4,0.5,0.3,0.750000,1.500000,0.10,2.00
33,"(Nutmeg, Eggs)","(Onion, Kidney Beans)",0.3,0.4,0.3,1.000000,2.500000,0.18,inf
34,"(Nutmeg, Onion)","(Eggs, Kidney Beans)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25
35,"(Nutmeg, Kidney Beans)","(Onion, Eggs)",0.3,0.4,0.3,1.000000,2.500000,0.18,inf
36,"(Onion, Eggs)","(Nutmeg, Kidney Beans)",0.4,0.3,0.3,0.750000,2.500000,0.18,2.80
37,"(Eggs, Kidney Beans)","(Nutmeg, Onion)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25
38,"(Onion, Kidney Beans)","(Nutmeg, Eggs)",0.4,0.3,0.3,0.750000,2.500000,0.18,2.80
39,(Nutmeg),"(Onion, Eggs, Kidney Beans)",0.5,0.4,0.3,0.600000,1.500000,0.10,1.50

In [15]:
for i , row in associationRulesSet.iterrows():
    print(f"{i+1} - {list(row.antecedents)} -> {list(row.consequents)} = [support = {row.support} , confidence = {row.confidence}, lift ={row.lift}] , dependent = {row.lift != 1.0}" )

1 - ['Corn'] -> ['Eggs'] = [support = 0.3 , confidence = 0.7499999999999999, lift =1.0714285714285714] , dependent = True
2 - ['Eggs'] -> ['Kidney Beans'] = [support = 0.5 , confidence = 0.7142857142857143, lift =1.1904761904761905] , dependent = True
3 - ['Kidney Beans'] -> ['Eggs'] = [support = 0.5 , confidence = 0.8333333333333334, lift =1.1904761904761907] , dependent = True
4 - ['Nutmeg'] -> ['Eggs'] = [support = 0.3 , confidence = 0.6, lift =0.8571428571428572] , dependent = True
5 - ['Onion'] -> ['Eggs'] = [support = 0.4 , confidence = 0.6666666666666667, lift =0.9523809523809526] , dependent = True
6 - ['Milk'] -> ['Kidney Beans'] = [support = 0.3 , confidence = 0.7499999999999999, lift =1.2499999999999998] , dependent = True
7 - ['Nutmeg'] -> ['Kidney Beans'] = [support = 0.3 , confidence = 0.6, lift =1.0] , dependent = False
8 - ['Onion'] -> ['Kidney Beans'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.1111111111111114] , dependent = True
9 - ['Kidney Beans'] -> ['Onion'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.1111111111111114] , dependent = True
10 - ['Yogurt'] -> ['Kidney Beans'] = [support = 0.3 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
11 - ['Nutmeg'] -> ['Onion'] = [support = 0.5 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
12 - ['Onion'] -> ['Nutmeg'] = [support = 0.5 , confidence = 0.8333333333333334, lift =1.6666666666666667] , dependent = True
13 - ['Nutmeg', 'Eggs'] -> ['Kidney Beans'] = [support = 0.3 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
14 - ['Nutmeg', 'Kidney Beans'] -> ['Eggs'] = [support = 0.3 , confidence = 1.0, lift =1.4285714285714286] , dependent = True
15 - ['Eggs', 'Kidney Beans'] -> ['Nutmeg'] = [support = 0.3 , confidence = 0.6, lift =1.2] , dependent = True
16 - ['Nutmeg'] -> ['Eggs', 'Kidney Beans'] = [support = 0.3 , confidence = 0.6, lift =1.2] , dependent = True
17 - ['Onion', 'Eggs'] -> ['Kidney Beans'] = [support = 0.4 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
18 - ['Eggs', 'Kidney Beans'] -> ['Onion'] = [support = 0.4 , confidence = 0.8, lift =1.3333333333333335] , dependent = True
19 - ['Onion', 'Kidney Beans'] -> ['Eggs'] = [support = 0.4 , confidence = 1.0, lift =1.4285714285714286] , dependent = True
20 - ['Onion'] -> ['Eggs', 'Kidney Beans'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.3333333333333335] , dependent = True
21 - ['Kidney Beans'] -> ['Onion', 'Eggs'] = [support = 0.4 , confidence = 0.6666666666666667, lift =1.6666666666666667] , dependent = True
22 - ['Nutmeg', 'Eggs'] -> ['Onion'] = [support = 0.3 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
23 - ['Nutmeg', 'Onion'] -> ['Eggs'] = [support = 0.3 , confidence = 0.6, lift =0.8571428571428572] , dependent = True
24 - ['Onion', 'Eggs'] -> ['Nutmeg'] = [support = 0.3 , confidence = 0.7499999999999999, lift =1.4999999999999998] , dependent = True
25 - ['Nutmeg'] -> ['Onion', 'Eggs'] = [support = 0.3 , confidence = 0.6, lift =1.4999999999999998] , dependent = True
26 - ['Nutmeg', 'Onion'] -> ['Kidney Beans'] = [support = 0.3 , confidence = 0.6, lift =1.0] , dependent = False
27 - ['Nutmeg', 'Kidney Beans'] -> ['Onion'] = [support = 0.3 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
28 - ['Onion', 'Kidney Beans'] -> ['Nutmeg'] = [support = 0.3 , confidence = 0.7499999999999999, lift =1.4999999999999998] , dependent = True
29 - ['Nutmeg'] -> ['Onion', 'Kidney Beans'] = [support = 0.3 , confidence = 0.6, lift =1.4999999999999998] , dependent = True
30 - ['Nutmeg', 'Onion', 'Eggs'] -> ['Kidney Beans'] = [support = 0.3 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
31 - ['Nutmeg', 'Eggs', 'Kidney Beans'] -> ['Onion'] = [support = 0.3 , confidence = 1.0, lift =1.6666666666666667] , dependent = True
32 - ['Nutmeg', 'Onion', 'Kidney Beans'] -> ['Eggs'] = [support = 0.3 , confidence = 1.0, lift =1.4285714285714286] , dependent = True
33 - ['Onion', 'Eggs', 'Kidney Beans'] -> ['Nutmeg'] = [support = 0.3 , confidence = 0.7499999999999999, lift =1.4999999999999998] , dependent = True
34 - ['Nutmeg', 'Eggs'] -> ['Onion', 'Kidney Beans'] = [support = 0.3 , confidence = 1.0, lift =2.5] , dependent = True
35 - ['Nutmeg', 'Onion'] -> ['Eggs', 'Kidney Beans'] = [support = 0.3 , confidence = 0.6, lift =1.2] , dependent = True
36 - ['Nutmeg', 'Kidney Beans'] -> ['Onion', 'Eggs'] = [support = 0.3 , confidence = 1.0, lift =2.5] , dependent = True
37 - ['Onion', 'Eggs'] -> ['Nutmeg', 'Kidney Beans'] = [support = 0.3 , confidence = 0.7499999999999999, lift =2.4999999999999996] , dependent = True
38 - ['Eggs', 'Kidney Beans'] -> ['Nutmeg', 'Onion'] = [support = 0.3 , confidence = 0.6, lift =1.2] , dependent = True
39 - ['Onion', 'Kidney Beans'] -> ['Nutmeg', 'Eggs'] = [support = 0.3 , confidence = 0.7499999999999999, lift =2.4999999999999996] , dependent = True
40 - ['Nutmeg'] -> ['Onion', 'Eggs', 'Kidney Beans'] = [support = 0.3 , confidence = 0.6, lift =1.4999999999999998] , dependent = True

In [16]:
associationRulesSet["antecedent_len"] = associationRulesSet["antecedents"].apply(lambda x: len(x))
associationRulesSet

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Corn),(Eggs),0.4,0.7,0.3,0.750000,1.071429,0.02,1.20,1
1,(Eggs),(Kidney Beans),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40,1
2,(Kidney Beans),(Eggs),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80,1
3,(Nutmeg),(Eggs),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.75,1
4,(Onion),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.90,1
5,(Milk),(Kidney Beans),0.4,0.6,0.3,0.750000,1.250000,0.06,1.60,1
6,(Nutmeg),(Kidney Beans),0.5,0.6,0.3,0.600000,1.000000,0.00,1.00,1
7,(Onion),(Kidney Beans),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,1
8,(Kidney Beans),(Onion),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20,1
9,(Yogurt),(Kidney Beans),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,1
10,(Nutmeg),(Onion),0.5,0.6,0.5,1.000000,1.666667,0.20,inf,1
11,(Onion),(Nutmeg),0.6,0.5,0.5,0.833333,1.666667,0.20,3.00,1
12,"(Nutmeg, Eggs)",(Kidney Beans),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,2
13,"(Nutmeg, Kidney Beans)",(Eggs),0.3,0.7,0.3,1.000000,1.428571,0.09,inf,2
14,"(Eggs, Kidney Beans)",(Nutmeg),0.5,0.5,0.3,0.600000,1.200000,0.05,1.25,2
15,(Nutmeg),"(Eggs, Kidney Beans)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25,1
16,"(Onion, Eggs)",(Kidney Beans),0.4,0.6,0.4,1.000000,1.666667,0.16,inf,2
17,"(Eggs, Kidney Beans)",(Onion),0.5,0.6,0.4,0.800000,1.333333,0.10,2.00,2
18,"(Onion, Kidney Beans)",(Eggs),0.4,0.7,0.4,1.000000,1.428571,0.12,inf,2
19,(Onion),"(Eggs, Kidney Beans)",0.6,0.5,0.4,0.666667,1.333333,0.10,1.50,1
20,(Kidney Beans),"(Onion, Eggs)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.80,1
21,"(Nutmeg, Eggs)",(Onion),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,2
22,"(Nutmeg, Onion)",(Eggs),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.75,2
23,"(Onion, Eggs)",(Nutmeg),0.4,0.5,0.3,0.750000,1.500000,0.10,2.00,2
24,(Nutmeg),"(Onion, Eggs)",0.5,0.4,0.3,0.600000,1.500000,0.10,1.50,1
25,"(Nutmeg, Onion)",(Kidney Beans),0.5,0.6,0.3,0.600000,1.000000,0.00,1.00,2
26,"(Nutmeg, Kidney Beans)",(Onion),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,2
27,"(Onion, Kidney Beans)",(Nutmeg),0.4,0.5,0.3,0.750000,1.500000,0.10,2.00,2
28,(Nutmeg),"(Onion, Kidney Beans)",0.5,0.4,0.3,0.600000,1.500000,0.10,1.50,1
29,"(Nutmeg, Onion, Eggs)",(Kidney Beans),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,3
30,"(Nutmeg, Eggs, Kidney Beans)",(Onion),0.3,0.6,0.3,1.000000,1.666667,0.12,inf,3
31,"(Nutmeg, Onion, Kidney Beans)",(Eggs),0.3,0.7,0.3,1.000000,1.428571,0.09,inf,3
32,"(Onion, Eggs, Kidney Beans)",(Nutmeg),0.4,0.5,0.3,0.750000,1.500000,0.10,2.00,3
33,"(Nutmeg, Eggs)","(Onion, Kidney Beans)",0.3,0.4,0.3,1.000000,2.500000,0.18,inf,2
34,"(Nutmeg, Onion)","(Eggs, Kidney Beans)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25,2
35,"(Nutmeg, Kidney Beans)","(Onion, Eggs)",0.3,0.4,0.3,1.000000,2.500000,0.18,inf,2
36,"(Onion, Eggs)","(Nutmeg, Kidney Beans)",0.4,0.3,0.3,0.750000,2.500000,0.18,2.80,2
37,"(Eggs, Kidney Beans)","(Nutmeg, Onion)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.25,2
38,"(Onion, Kidney Beans)","(Nutmeg, Eggs)",0.4,0.3,0.3,0.750000,2.500000,0.18,2.80,2
39,(Nutmeg),"(Onion, Eggs, Kidney Beans)",0.5,0.4,0.3,0.600000,1.500000,0.10,1.50,1

In [17]:
associationRulesSet[associationRulesSet['antecedents'] == {'Kidney Beans'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
2,(Kidney Beans),(Eggs),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8,1
8,(Kidney Beans),(Onion),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2,1
20,(Kidney Beans),"(Onion, Eggs)",0.6,0.4,0.4,0.666667,1.666667,0.16,1.8,1

In [18]:
associationRulesSet[associationRulesSet['consequents'] == {'Eggs'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Corn),(Eggs),0.4,0.7,0.3,0.750000,1.071429,0.02,1.20,1
2,(Kidney Beans),(Eggs),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80,1
3,(Nutmeg),(Eggs),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.75,1
4,(Onion),(Eggs),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.90,1
13,"(Nutmeg, Kidney Beans)",(Eggs),0.3,0.7,0.3,1.000000,1.428571,0.09,inf,2
18,"(Onion, Kidney Beans)",(Eggs),0.4,0.7,0.4,1.000000,1.428571,0.12,inf,2
22,"(Nutmeg, Onion)",(Eggs),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.75,2
31,"(Nutmeg, Onion, Kidney Beans)",(Eggs),0.3,0.7,0.3,1.000000,1.428571,0.09,inf,3

In [30]:
associationRulesSet[(associationRulesSet['support'] >= 0.5) &
                    (associationRulesSet['confidence'] >=0.8)&
                    (associationRulesSet['antecedent_len'] ==1) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
2,(Kidney Beans),(Eggs),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8,1
10,(Nutmeg),(Onion),0.5,0.6,0.5,1.000000,1.666667,0.20,inf,1
11,(Onion),(Nutmeg),0.6,0.5,0.5,0.833333,1.666667,0.20,3.0,1

As we consider check with query by rule :

- rules 
    - support >= 0.5
    - confidence >= 0.8
    - lenth of items as antecedents = 1

## Working with Sparse Regression

In [20]:
# To save memory, you may want to represent your transaction data in the sparse format. This is especially useful if you have lots of products and small transactions.

oht_ary = te.fit(dataset).transform(dataset, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)
sparse_df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,0,0,0,1,0,True,1,1,1,0,1
1,0,0,1,1,0,True,0,1,1,0,1
2,1,0,0,1,0,True,1,0,0,0,0
3,0,1,0,0,0,True,1,0,0,1,1
4,0,1,0,1,1,True,0,0,1,0,0

In [21]:
apriori(sparse_df, min_support=0.6, use_colnames=True, verbose=1)

Processing 21 combinations | Sampling itemset size 3

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

## frequent Itemset via FP growth algorithm

In [22]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.6, use_colnames=True)

   support        itemsets
0      0.7          (Eggs)
1      0.6         (Onion)
2      0.6  (Kidney Beans)

From above we can see buying rate of eggs is 70%, onion and Kidney beans has each 60% of buying rate

In [23]:
#Apriori time
from mlxtend.frequent_patterns import apriori

%timeit -n 100 -r 10 apriori(df, min_support=0.6)

1.16 ms ± 90.8 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [24]:
%timeit -n 100 -r 10 apriori(df, min_support=0.6, low_memory=True)

1.13 ms ± 24.5 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

In [25]:
#fpgrowth time
from mlxtend.frequent_patterns import fpgrowth

%timeit -n 100 -r 10 fpgrowth(df, min_support=0.6)

718 µs ± 16.5 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

 Since, Apriori taking very less time than FP growth we can say Apriori is better Algorithm for frequently buyed item